// variables
$primary-color: #013536;
$footer-color: #002526;
$gap: 6.125rem;
$project-width: min(81.25rem, 90%);
$gap: 2.5rem;
$section-space: 8rem;
$hover-animation-time: 0.25s;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kotta One', serif;
    color: hsl(0, 0%, 95%);
}

// Scrollbar
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $primary-color;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
//

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr auto;
}

img {
    border-radius: 0.2rem;
}

body {
    background-color: $primary-color;
    overflow-x: hidden;
}

// tab focus
:focus {
    outline: 2px solid transparent;
    box-shadow: 0 0 0 3px white;
}

a {
    text-decoration: none;
    font-size: 1.4rem;
    letter-spacing: 1px;
    display: block;
    position: relative;
    width: fit-content;
}

// a:hover underline
.footer__social__row img:hover + a,
a:hover {
    // position: relative;
    text-decoration: none;
    width: fit-content;
}

a::before,
.footer__social__row img + a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px; /* Adjust the thickness of the underline */
    background-color: white;
    transform: scaleX(0); /* Initial scale for animation */
    transform-origin: center;
    transition: transform $hover-animation-time ease;
}

a:hover::before,
.footer__social__row:hover .hover-target::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 2px;
    background-color: white;
    transform: scaleX(1);
    transform-origin: center;
    transition: transform $hover-animation-time ease;
}

.footer__social__row:hover a::before,
.footer__social__row:hover .hover-target::before {
    transform: scaleX(1);
}

///

.grid {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
}
.object-fit-none {
    object-fit: none;
    aspect-ratio: 1.5/2;
}
.text-area {
    margin-bottom: 4rem;
}
.artwork__image {
    margin-bottom: 4rem;
}

ul {
    list-style-type: none;
}
img {
    object-fit: cover;
}
.image-text {
    margin-top: 0.3rem;
    margin-bottom: 0;
    max-width: 100%;
    font-size: 1rem;
}

.from-to {
    font-size: 1rem;
}

section:not(section.header, section.introduction) {
    padding-top: $section-space;
}

h1 {
    font-size: 6rem;
}
h2 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 4rem;
}
h3 {
    font-size: 2.1rem;
    padding-bottom: 0.6rem;
    letter-spacing: 2px;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 12.5rem);
    grid-template-columns: 1fr 1fr;
    width: 100%;
    place-items: center;
    margin-inline: auto;
    gap: $gap;
    align-items: flex-start;
}
h4 {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    letter-spacing: 2px;
}
p {
    padding-bottom: 1.2rem;
    font-size: 1.25rem;
    line-height: 1.3;
    max-width: 51.875rem;
    letter-spacing: 1px;
}

.book {
    width: 14.375rem;
    height: 23.4375rem;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: $gap;
}

.project-bg {
    position: relative;
    background-image: url(/images/artwork/bilbo_comes_to_the_huts_of_the_raft-elves__the_tolkien_estate_limited_1937\ 2.webp);
    background-repeat: no-repeat;
    width: 100%;
    z-index: 1;
}
.project-bg::before {
    content: '';
    position: absolute;
    background-color: rgba($color: $primary-color, $alpha: 0.8);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.project-container {
    gap: 2rem;
    width: $project-width;
    margin-inline: auto;
    align-items: flex-start;
    p,
    h3 {
        max-width: 90vw;
    }
}

section.header {
    display: flex;
    justify-content: space-between;
    background-color: $primary-color;
    opacity: 80%;
    padding: 10rem 0 2rem 0;
    position: relative;
    .top-bg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url(images/artwork/bilbo_comes_to_the_huts_of_the_raft-elves__the_tolkien_estate_limited_1937\ 2_medium.webp);
        display: flex;
        height: 75rem;
        justify-content: space-between;
        align-items: center;
        nav {
            width: min(81.25rem, 80%);
            position: absolute;
            background-color: rgba($color: $primary-color, $alpha: 0.95);
            height: 12.5rem;
            align-items: center;
            display: flex;
            justify-content: space-between;
            width: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            .project-container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                ul {
                    display: flex;
                    gap: $gap;
                    li {
                        a {
                            font-size: 1.8rem;
                        }
                    }
                }
            }
        }
    }
}

.header::after {
    height: 16.125rem !important;
}

section.introduction {
    height: 63rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .introduction__container {
        background-color: rgba($color: $primary-color, $alpha: 0.8);
        padding: 4.2rem 3rem 3rem 3rem;
        position: relative;
        align-items: flex-start;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        border-radius: 4rem;
        .introduction__container__left {
            .introduction__container__left_img_text {
                img {
                    height: 27.85rem;
                    border-radius: 1rem;
                    margin-top: 0.7rem;
                }
                p {
                    width: fit-content;
                }
            }
            p {
                width: 31ch;
            }
        }
        .introduction__container__right {
            width: 60ch;
            z-index: 9999;
            p {
                padding-bottom: 1.8rem;
            }
        }
    }
}
section.books {
    .project-container {
        align-items: center;
        .books__text-area {
            margin-bottom: 0;
        }
        .books__images {
            gap: 1rem;
            flex-wrap: wrap;
            gap: 1rem;
            scale: 1.15;
        }
    }
}
section.legacy {
    .project-container.grid {
        img {
            width: 31.25rem;
        }
        .legacy__text-area {
            grid-row: 1;
        }
    }
}
section.artwork {
    img {
        width: 100%;
    }
    .artwork__image__large {
        margin-bottom: 6rem;
        width: 100%;
    }
}
section.footer#footer {
    background-color: $footer-color;
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    .project-container {
        height: 17.5rem;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: baseline;
        gap: 4rem;
        .footer__social {
            img {
                width: 2.25rem;
                aspect-ratio: unset;
                object-fit: contain;
                margin-right: 1.1rem;
            }
            a {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .footer__social__row {
                justify-content: unset;
                gap: 0;
                margin: 1.6rem 0;
                cursor: pointer;
            }
        }
        div.footer__navigate {
            align-items: flex-start;
            grid-template-columns: 1fr 1fr;
            .grid-container {
                place-items: baseline;
            }
            ul {
                margin-bottom: 2rem;
                width: fit-content;
                white-space: nowrap;
                li {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}
@media only screen and (max-width: 81.25em) {
    //1300px
    .introduction .project-container {
        width: 100%;
    }
    section.footer#footer {
        padding-bottom: 7rem;
    }
}

@media only screen and (max-width: 53.125em) {
    .introduction__container__left {
        flex-direction: column;
        max-width: 90vw;
    }
    .introduction__container__right {
        max-width: 90vw;
    }
}

@media only screen and (max-width: 25em) {
    section.footer#footer .project-container div.footer__navigate .grid-container {
        grid-template-columns: 1fr !important;
    }
}
@media only screen and (max-width: 41.25em) {
    //660px
    .introduction__container {
        padding-inline: 0 !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    body section.footer .project-container.grid {
        grid-template-columns: 1fr !important;
    }
    section.footer#footer {
        padding-bottom: 46rem !important;
    }
    body .header {
        margin-bottom: 30.4rem !important;
    }
    body section.books {
        padding-top: 20rem;
    }
    img:not(.footer__social img, img.book) {
        width: 100% !important;
    }
}

@media only screen and (max-width: 68.75em) {
    //1100px
    .introduction__container__left {
        width: 100%;
    }

    .introduction__container__left_img_text,
    .introduction__container__left_img_text img {
        width: 100% !important;
    }
    .introduction__container__left p {
        width: 100% !important;
    }

    .introduction__container {
        flex-direction: column;
    }
    h1 {
        font-size: 4rem;
        z-index: 9999;
    }
    section.introduction .introduction__container__right {
        width: 100% !important;
    }

    .introduction__container__left {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
    .project-bg {
        top: 9rem;
    }
    body .header .top-bg {
        height: 94.25rem;
    }
    body .header {
        margin-bottom: 13.4rem;
        padding-top: 13rem;
    }
    .grid-container,
    .grid {
        grid-template-columns: 1fr !important;
    }
    .footer__navigate .grid-container,
    .grid {
        grid-template-columns: 1fr 1fr !important;
    }
    .project-container.grid:not(.footer .project-container.grid) {
        margin: auto;
        grid-template-columns: 1fr !important;
    }
    .footer__navigate {
        width: 100%;
    }
    .books__images {
        margin-top: 3rem;
    }
    .artwork__text-area.text-area {
        margin-bottom: 0;
    }
    section.footer#footer {
        padding-bottom: 21.5rem;
    }
    section.introduction {
        height: 59rem;
    }
    .top-bg {
        height: 750rem;
    }

    .introduction__container {
        border-radius: 0 !important;
    }
}

@media only screen and (max-width: 62.5em) {
    body .header div.project-container.grid {
        grid-template-columns: 1fr;
    }
    .footer_social__container {
        margin-bottom: 2.6rem;
        margin-inline: 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    .footer__social {
        width: 100%;
    }
    section.footer#footer .project-container .footer__social .footer_social__container .footer__social__elem {
        a {
            display: none;
        }
        img {
            width: 2.8125rem;
        }
    }
}

@media only screen and (max-width: 40em) {
    //640px
    section.header .top-bg nav .project-container ul {
        display: block;
        li {
            margin-bottom: 0.5rem;
        }
    }
}
