* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kotta One", serif;
  color: #ffffff;
}

.wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr auto;
}

img {
  border-radius: 0.2rem;
}

body {
  background-color: #013536;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  font-size: 1.4rem;
  letter-spacing: 1px;
  display: block;
}

.grid {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
}

.object-fit-none {
  -o-object-fit: none;
     object-fit: none;
  aspect-ratio: 1.5/2;
}

.text-area {
  margin-bottom: 4rem;
}

.artwork__image {
  margin-bottom: 4rem;
}

ul {
  list-style-type: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.image-text {
  margin-top: 0.4rem;
  margin-bottom: 0;
}

section:not(section.header, section.introduction) {
  padding-top: 8rem;
}

h1 {
  font-size: 6rem;
  margin-bottom: 1rem;
}

h2 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 4rem;
}

h3 {
  font-size: 2.1rem;
  padding-bottom: 0.6rem;
  letter-spacing: 2px;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 2.5rem;
  align-items: flex-start;
}

h4 {
  font-size: 1.6rem;
  margin-bottom: 1.6rem;
  letter-spacing: 2px;
}

p {
  padding-bottom: 1.2rem;
  font-size: 1.25rem;
  line-height: 1.3;
  max-width: 830px;
  letter-spacing: 1px;
}

p.image-text {
  max-width: 100%;
}

.book {
  width: 230px;
  height: 375px;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.project-bg {
  position: relative;
  background-image: url(/images/artwork/bilbo_comes_to_the_huts_of_the_raft-elves__the_tolkien_estate_limited_1937\ 2.png);
  background-repeat: no-repeat;
  width: 100%;
  z-index: 1;
}

.project-bg::before {
  content: "";
  position: absolute;
  background-color: rgba(1, 53, 54, 0.7);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.project-container {
  gap: 2rem;
  width: min(1300px, 85%);
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
}

section.header {
  display: flex;
  justify-content: space-between;
  background-color: #013536;
  opacity: 80%;
  padding: 10rem 0 2rem 0;
  position: relative;
}
section.header .top-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(images/artwork/bilbo_comes_to_the_huts_of_the_raft-elves__the_tolkien_estate_limited_1937\ 2_medium.png);
  display: flex;
  height: 1200px;
  justify-content: space-between;
  align-items: center;
}
section.header .top-bg nav {
  width: min(1300px, 80%);
  position: absolute;
  background-color: rgba(1, 53, 54, 0.95);
  height: 200px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
section.header .top-bg nav .project-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.header .top-bg nav .project-container ul {
  display: flex;
  gap: 2.5rem;
}
section.header .top-bg nav .project-container ul li a {
  font-size: 1.8rem;
}
section.header .top-bg nav .project-container ul li:hover {
  font-weight: bold;
}

.header::after {
  height: 258px !important;
}

section.introduction {
  height: 63rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.introduction .introduction__container {
  background-color: rgba(1, 53, 54, 0.8);
  padding: 3rem;
  position: relative;
  align-items: flex-start;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  border-radius: 4rem;
}
section.introduction .introduction__container .introduction__container__left {
  margin-left: auto;
}
section.introduction .introduction__container .introduction__container__left .introduction__container__left_img_text img {
  height: 420px;
  max-width: 77vw;
  border-radius: 1rem;
  margin-top: 0.7rem;
}
section.introduction .introduction__container .introduction__container__left .introduction__container__left_img_text p {
  width: -moz-fit-content;
  width: fit-content;
}
section.introduction .introduction__container .introduction__container__left p {
  width: 25ch;
}
section.introduction .introduction__container .introduction__container__right {
  width: 60ch;
  margin-right: auto;
  z-index: 9999;
}
section.introduction .introduction__container .introduction__container__right p {
  padding-bottom: 1.8rem;
}

section.books .project-container {
  align-items: center;
}
section.books .project-container .books__text-area {
  margin-bottom: 0;
}
section.books .project-container .books__images {
  gap: 1rem;
}

section.legacy .project-container.grid img {
  width: 500px;
  max-width: 90vw;
}
section.legacy .project-container.grid .legacy__text-area {
  grid-row: 1;
}

section.artwork img {
  width: 100%;
}
section.artwork .artwork__image__large {
  margin-bottom: 6rem;
  width: 100%;
}

section.footer#footer {
  background-color: #002526;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
}
section.footer#footer .project-container {
  height: 280px;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: baseline;
  gap: 4rem;
}
section.footer#footer .project-container .footer__social img {
  width: 36px;
  aspect-ratio: unset;
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 1.1rem;
}
section.footer#footer .project-container .footer__social a {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.footer#footer .project-container .footer__social .footer__social__row {
  justify-content: unset;
  gap: 0;
  margin: 1.6rem 0;
  cursor: pointer;
}
section.footer#footer .project-container div.footer__navigate {
  align-items: flex-start;
  grid-template-columns: 1fr 1fr;
}
section.footer#footer .project-container div.footer__navigate .grid-container {
  place-items: baseline;
}
section.footer#footer .project-container div.footer__navigate ul {
  margin-bottom: 2rem;
  width: -moz-fit-content;
  width: fit-content;
  white-space: nowrap;
}
section.footer#footer .project-container div.footer__navigate ul li {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 81.25em) {
  .introduction .project-container {
    width: 100%;
  }
  section.footer#footer {
    padding-bottom: 7rem;
  }
}
@media only screen and (max-width: 53.125em) {
  .introduction__container__left {
    flex-direction: column;
    margin-left: auto !important;
    margin-right: auto;
  }
}
@media only screen and (max-width: 41.25em) {
  h3,
  p {
    width: 85%;
  }
  .introduction__container__left_img_text {
    width: 100%;
  }
  body section.footer .project-container.grid {
    grid-template-columns: 1fr !important;
  }
  section.footer#footer {
    padding-bottom: 46rem !important;
  }
  body .header {
    margin-bottom: 30.4rem !important;
  }
  body section.books {
    padding-top: 20rem;
  }
}
@media only screen and (max-width: 68.75em) {
  .introduction__container__left {
    margin-left: unset !important;
    width: 100%;
  }
  .introduction__container__left p {
    width: 100%;
  }
  .introduction__container {
    flex-direction: column;
  }
  h1 {
    font-size: 4rem;
    z-index: 9999;
  }
  section.introduction .introduction__container__right {
    width: 100% !important;
  }
  .introduction__container__left {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .project-bg {
    top: 9rem;
  }
  body .header .top-bg {
    height: 1508px;
  }
  body .header {
    margin-bottom: 13.4rem;
    padding-top: 13rem;
  }
  .grid-container,
  .grid {
    grid-template-columns: 1fr !important;
  }
  .footer__navigate .grid-container,
  .grid {
    grid-template-columns: 1fr 1fr !important;
  }
  .project-container.grid:not(.footer .project-container.grid) {
    margin: auto;
    grid-template-columns: 1fr !important;
  }
  .footer__navigate {
    width: 100%;
  }
  .books__images {
    margin-top: 3rem;
  }
  .artwork__text-area.text-area {
    margin-bottom: 0;
  }
  section.footer#footer {
    padding-bottom: 21.5rem;
  }
  section.introduction {
    height: 59rem;
  }
  .top-bg {
    height: 12000px;
  }
  .introduction__container {
    border-radius: 0 !important;
  }
}
@media only screen and (max-width: 62.5em) {
  body .header div.project-container.grid {
    grid-template-columns: 1fr;
  }
  .footer_social__container {
    margin-bottom: 2.6rem;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .footer__social {
    width: 100%;
  }
  section.footer#footer .project-container .footer__social .footer_social__container .footer__social__elem a {
    display: none;
  }
  section.footer#footer .project-container .footer__social .footer_social__container .footer__social__elem img {
    width: 45px;
  }
}
@media only screen and (max-width: 40em) {
  section.header .top-bg nav .project-container ul {
    display: block;
  }
  section.header .top-bg nav .project-container ul li {
    margin-bottom: 0.5rem;
  }
}/*# sourceMappingURL=style.css.map */